.gir{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.gir img{
    height: 400px;
    width: 650px;
}

/* mobile responsive */

@media only screen and (max-width:576px){
    .gir{
        grid-template-columns: repeat(1,1fr);
    }
    .bottom{
        margin-bottom: 10px;
    }
    .gir img{
        height: 250px;

    }
}
